 <launch>
 	<arg name="om_max" default="0.4"/>
 	<arg name="v_max" default="0.3"/>

    <node pkg="asl_turtlebot" type="navigator.py" name="asl_navigator" output="screen">
    	<param name="om_max" value="$(arg om_max)"/>
    	<param name="v_max" value="$(arg v_max)"/>
    
    </node>

    <node pkg="asl_turtlebot" type="distination_viz.py" name="target_viz_for_rviz" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aa274_s2)/rviz/my_nav.rviz"/>
</launch>
